:root {
    --bs-primary: #6739FF !important;
    --bs-success: #21FFAE !important;

    --bs-primary-soft: #c8baf6 !important;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background: #f5f5f5;
    /* padding-bottom: 25%; */
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary-soft {
    background-color: var(--bs-primary-soft);
    border-color: var(--bs-primary-soft);
}


.btn-success {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.btn-outline-primary {
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}

.btn-outline-success {
    border-color: var(--bs-success);
    color: var(--bs-success);
}

.border-primary {
    border-color: var(--bs-primary) !important;
}

.text-primary {
    color: var(--bs-primary) !important;
}

.text-success {
    color: var(--bs-success) !important;
}

.bg-none {
    background:none !important;
}

.bg-primary {
    background: var(--bs-primary) !important;
}

.bg-success {
    background: var(--bs-success) !important;
}

.form-check-input-success:checked {
    border-color: var(--bs-success);
    background-color: var(--bs-success);
}

.card-img-top {
    height: 100% !important;
    max-width: 100%; 
    object-fit: cover;
}

.blog-content-image{
    height: 35rem; 
    object-fit: contain;
    background-color: black;
}

.bi.bi-star, .bi.bi-star-fill, .bi.bi-star-half{
    font-size : 1rem !important;
}

.content-card-wrapper > .swiper-wrapper{
    display: flex !important;
    gap: 1rem;
}

.content-card-wrapper > .swiper-wrapper > .swiper-slide {
    width: 20rem !important;
}

.change-img-btn{
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 181%);
}
.change-img-btn-mobile{
    bottom: 0;
    left: 0;
    transform: translate(68%, 100%);
}

.content-card-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    /* overflow: scroll; */
  }

@media only screen and (max-width:450px)  {
    .bi.bi-star, .bi.bi-star-fill, .bi.bi-star-half{
        font-size : 1rem !important;
    }

    body {
        padding-bottom: 25%;
    }

    .blog-content-image{
        height: 15rem; 
        object-fit: cover;
        background-color: black;
    }  
    .content-card-wrapper > .swiper-wrapper > .swiper-slide {
        width: 20rem !important;
    }      
}