.g-shadow {
    box-shadow: 0px 4px 4px 0px #1D1B20, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 4px 4px 0px #1D1B20, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 4px 4px 0px #1D1B20, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.font-italic {
    font-style: italic;
}

.text-border-black {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}


.text-grad-1 {
    color: rgb(33,255,174);
    -webkit-text-fill-color:initial !important;
}

.text-grad-1 {
    color: rgb(33,255,174);
    background: rgb(33,255,174);
    background: -webkit-linear-gradient(0deg, rgba(33,255,174,1) 20%, rgba(0,202,239,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-grad-2 {
    color: rgb(97,62,212);
    -webkit-text-fill-color:initial !important;
}

.text-grad-2 {
    color: rgb(97,62,212);
    background: rgb(97,62,212);
    background: -webkit-linear-gradient(0deg, rgba(97,62,212,1) 20%, rgba(141,112,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.bg-grad-1 {
    background: rgb(33,255,174);
    background: linear-gradient(0deg, rgba(33,255,174,1) 20%, rgba(0,202,239,1) 100%);
}

.bg-grad-2 {
    background: rgb(97,62,212);
    background: linear-gradient(0deg, rgba(97,62,212,1) 20%, rgba(141,112,255,1) 100%);
}

.border-grad-1 {
    border: 7px solid;
    border-image-slice: 1 !important;
    border-image-source: linear-gradient(0deg, rgba(33,255,174,1) 20%, rgba(0,202,239,1) 100%) !important;
}

.border-dashed {
    border-style: dashed !important;
}

.rounded-lg {
    border-radius: 15px;
    overflow: hidden;
}

.rounded-xl {
    border-radius: 25px;
    overflow: hidden;
}

.f10 {
    font-size: 10px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.container-xs {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.bg-none {
    background: none !important;
}

.w-fit-content {
    width: fit-content;
}

.pull-right, .float-right, .force-right {
    float: right;
}

.cursor-pointer {
    cursor: pointer;
}

.w-10 {
    width: 10%;
}

.mt-lg {
    margin-top: 20% !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.is-mobile {
    display: none !important;
}

.is-desktop{
    display: block;
}

.is-desktop.d-flex{
    display: flex;
}

.line-break-anywhere {
    line-break: anywhere;
}

.searchHitItems {
    width: 100% !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}
.searchHitItems i,
.searchHitItems h6,
.searchHitItems div {
    color: black;
    padding: 0.3rem;
}
.searchHitItems:hover *{
    background-color: #212529 !important;
    color: #fff !important;
    /* opacity: 0.6; */
    transition: 0.1s;

}

.search_box{
    border: 0 !important;
}



@media only screen and (max-width:450px)  {
    .is-mobile {
        display: block !important;
    }

    .is-mobile.d-flex {
        display: flex !important;
    }
    
    .is-desktop{
        display: none !important;
    }

    .is-desktop.d-flex{
        display: none !important;
    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .row>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-top: 10px; 
    }
}